@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .justify-between {
    @apply flex justify-between;
  }
  .justify-evenly {
    @apply flex items-center justify-evenly;
  }
  .justify-center {
    @apply flex items-center justify-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}
